nav {
  position: absolute;
  background: #222;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  border: 1px dashed rgba(128, 128, 128, 0);
  padding: 10px;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: line-through;
}

nav ul li #button {
  background: white;
  color: #333;
  padding: 17px 30px 17px 30px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.2s ease-out 0s;
  width: 200px;
}

nav ul li #button:hover {
  text-decoration: none;
  transition: 0.2s ease-out 0s;
}

.header {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./imgs/games-bg.png");
  background-position: center;
  background-size: cover;
  /*Keyframes*/
}

.header .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.header .info .logo {
  width: 220px;
}

.header .info .date {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 700;
  opacity: 1;
  background: white;
  padding: 8.5px 17px 8.5px 17px;
  margin-left: 30px;
  text-transform: uppercase;
  border-radius: 1px;
}

.header h3 {
  color: white;
  text-transform: capitalize;
  opacity: 0.6;
  font-size: 20px;
}

.header h1 {
  text-align: center;
  color: #fff;
  font-size: 9em;
  letter-spacing: 0px;
  font-style: italic;
  font-weight: 700;
  font-family: 'Helvetica Neue' !important;
  /*Create overlap*/
  line-height: 2px;
  /*Animation*/
  animation: glitch1 1.5s infinite;
}

.header h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 1.5s infinite;
}

.header h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 1.5s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-2deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: skew(-2deg, 0.4deg);
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: skew(0.4deg, 5deg);
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.header h2 {
  color: white;
  margin-top: 80px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.header .button-wrapper {
  display: flex;
  flex-direction: row;
}

.header .button-wrapper button {
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  padding: 17px 30px 17px 30px;
  background: none;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.1s ease-out 0s;
  cursor: pointer;
}

.header .button-wrapper button:hover {
  text-decoration: none;
  background: white;
  color: #333;
  transition: 0.1s ease-out 0s;
  font-weight: 700;
}
/*# sourceMappingURL=header.css.map */