button:focus {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-weight: 400;
}

.about {
  width: 100%;
  min-height: 500px;
  background: #1a0f2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 40px;
    font-size: 33px;
    padding-top: 75px;
  }

  .date {
    border: 1.5px solid rgba(255, 255, 255, 0.158);
    border-radius: 5px;
    padding: 25px 30px 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;

    h4 {
      color: rgba(255, 255, 255, 0.315);
      font-size: 20px;
      text-align: center;
      padding-bottom: 10px;
    }

    h3 {
      color: white;
      font-size: 25px;
      text-align: center;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    max-width: 60%;
    text-align: center;
    padding-bottom: 130px;
    font-size: 18px;
    line-height: 27px;
  }
}

section {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .right {
    background-position: center;
    background-size: cover;
    width: 50%;
    min-height: 250px;
  }

  #right1 {
    background-image: url('./imgs/lan.jpg');
  }

  #right2 {
    background-image: url('./imgs/games-bg.png');
  }

  #right3 {
    background-image: url('./imgs/hackathon.jpg');
  }

  .left {
    width: calc(50% - 100px);
    padding: 50px;
    background: rgb(49, 28, 73);
    color: white;

    h2 {
      font-size: 33px;
    }

    p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 25px;
      width: 80%;
      opacity: 0.5;
    }
  }
}

.section2 {
  flex-direction: row-reverse;
}

.cookies {
  background: dodgerblue;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 100px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 75px;
    font-size: 17px;
    color: white;
  }

  input {
    margin-right: 75px;
    background: darken(dodgerblue, 10%);
    border-radius: 50px;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
      background: darken(dodgerblue, 15%);
    }
  }
}
