* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-weight: 400;
}

section {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
    height: 100%;
    width: calc(50% - 100px);
    padding: 50px;
    background: rgb(49, 28, 73);
    color: white;

    h2 {
      font-size: 33px;
    }

    p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 25px;
      width: 80%;
      opacity: 0.5;
    }
  }
}

.section2 {
  flex-direction: row-reverse;
}

.cookies {
  background: dodgerblue;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 100px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 75px;
    font-size: 17px;
    color: white;
  }

  input {
    margin-right: 75px;
    background: darken(dodgerblue, 10%);
    border-radius: 50px;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
      background: darken(dodgerblue, 15%);
    }
  }
}
