.feedback-wrapper {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback {
  display: grid;
  padding: 50px;
  grid-template-columns: auto auto auto auto;
  @media (max-width: 1000px) {
    grid-template-columns: auto auto auto;
  }
  @media (max-width: 900px) {
    grid-template-columns: auto auto;
  }
  @media (max-width: 650px) {
    grid-template-columns: auto;
  }
}

.feedbackItem {
  background: #353535;
  border-radius: 5px;
  padding: 20px;
  color: white;
  margin: 10px;
  min-height: 50px;
}

.feedbackItem h3 {
  padding-top: 30px;
  opacity: .4;
}
