* {
  padding: 0;
  margin: 0;
}

.footer {
  background: #222;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 50%;
    padding-left: 10%;
    padding-right: 5%;
    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    li {
      list-style-type: none;
      margin-top: 10px;
      @media (max-width: 768px) {
        margin-top: 0px;
      }

      a {
        color: rgba(255, 255, 255, 0.445);
        transition: 0.1s ease-out 0s;
        text-decoration: none;
        &:hover {
          color: rgba(255, 255, 255, 0.85);
          transition: 0.1s ease-out 0s;
        }
        @media (max-width: 768px) {
          padding: 20px;
          display: block;
          transition: 0.1s ease-out 0s;
          border-radius: 5px;
          &:focus {
            background: #333;
            transition: 0.1s ease-out 0s;
          }
        }
      }
    }
  }
}
